@import "./base.css";

#app {
	max-width: 1280px;
	height: 100vh;
	margin: 0 auto;
	padding: 0 2rem 2rem 2rem;
	font-weight: normal;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}

@media (prefers-color-scheme: light) {
	a,
	.green {
		background: #00bd7e;
		text-decoration: none;
		color: #000;
		transition: 0.4s;
		padding: 3px;
		font-size: 15px;
	}
	.red {
		background: rgb(181, 47, 47);
		text-decoration: none;
		color: #000;
		transition: 0.4s;
		padding: 3px;
		font-size: 15px;
	}
	
	.red:hover {
		color: #fff;
	}
	
	@media (hover: hover) {
		a:hover,
		.green:hover {
			color: #fff;
		}
	}
}

@media (prefers-color-scheme: dark) {
	a,
	.green {
		background: transparent;
		text-decoration: none;
		color: #00bd7e;
		transition: 0.4s;
		padding: 3px;
		font-size: 15px;
	}
	.red {
		background: transparent;
		text-decoration: none;
		color: rgb(181, 47, 47);
		transition: 0.4s;
		padding: 3px;
		font-size: 15px;
	}
	
	.red:hover {
		background-color: rgb(181, 47, 47, 0.2);
	}
	
	@media (hover: hover) {
		a:hover,
		.green:hover {
			background-color: hsla(160, 100%, 37%, 0.2);
		}
	}
}

@media (min-width: 1024px) {
	body {
		display: flex;
		place-items: center;
	}
}
